*.pdb
Temp
Library
Logs
etc
obj
Packages
_MK*
**/StarViewer3D/*.sln
**/StarViewer3D/*.csproj
**/StarViewer3D/*.userprefs
**/GlowSpheres/*.sln
**/GlowSpheres/*.csproj
**/GlowSpheres/*.userprefs
bin
.DS_Store
*.vscode
*.exe
*~
*.swp
*.swo

